mixin contactDetails(city, street, state, zip, phone, phoneFormated, fax, faxFormated)
	address(itemscope='', itemtype='http://schema.org/LocalBusiness')
		span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
		span(itemprop='streetAddress')= street
		br
		span(itemprop='addressLocality')= city
		| ,&nbsp;
		span(itemprop='addressRegion')= state
		| &nbsp;
		span(itemprop='postalCode')= zip
		br
		span(itemprop='addressCountry', style='display: none;') United States

	ul
		li(itemscope, itemtype='http://schema.org/LocalBusiness')
			span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
			span(style='display: none;') Phone:
			span(itemprop='telephone')
				svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 16 16')
					path(d='M15.6 12.7l-2.4-2.5a1.3 1.3 0 0 0-1.8 0l-1.3 1.3-.2-.2a11 11 0 0 1-3-2.1 11.2 11.2 0 0 1-2.2-3.1v-.2l.8-.8.4-.4a1.4 1.4 0 0 0 0-1.9L3.4.4a1.3 1.3 0 0 0-1.8 0l-.7.7a2.7 2.7 0 0 0-.6 1 4.3 4.3 0 0 0-.2 1.1c-.4 2.7.9 5.1 4.2 8.5s8.4 4.3 8.5 4.3a4.9 4.9 0 0 0 2.1-.8l.7-.7a1.3 1.3 0 0 0 0-1.8z')
				a(href=`tel:+1${phoneFormated}`, rel='nofollow', name=`Call R&S Supply Redding at ${phone}`)= `${phone}`


			li(itemscope='', itemtype='http://schema.org/faxNumber')
				span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
				span(style='display: none;') Fax:
				span(itemprop='faxNumber')
					svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 348.165 348.165')
						g
							path(d='M0 60.58v11.341L174.083 193.19 348.165 71.921V60.58z')
							path(d='M174.083 217.356L71.545 145.228 0 95.39v192.195h348.165V95.39l-71.545 49.838z')
					a(href=`fax:+1${faxFormated}`, rel='nofollow', name=`Fax R&S Supply Redding at ${fax}`)= `${fax}`