mixin contactDetails(city, street, state, zip, phone, phoneFormated, fax, faxFormated)
	address(itemscope='', itemtype='http://schema.org/LocalBusiness')
		span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
		span(itemprop='streetAddress')= street
		br
		span(itemprop='addressLocality')= city
		| ,&nbsp;
		span(itemprop='addressRegion')= state
		| &nbsp;
		span(itemprop='postalCode')= zip
		br
		span(itemprop='addressCountry', style='display: none;') United States

	ul
		li(itemscope, itemtype='http://schema.org/LocalBusiness')
			span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
			span(style='display: none;') Phone:
			span(itemprop='telephone')
				svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 16 16')
					path(d='M15.6 12.7l-2.4-2.5a1.3 1.3 0 0 0-1.8 0l-1.3 1.3-.2-.2a11 11 0 0 1-3-2.1 11.2 11.2 0 0 1-2.2-3.1v-.2l.8-.8.4-.4a1.4 1.4 0 0 0 0-1.9L3.4.4a1.3 1.3 0 0 0-1.8 0l-.7.7a2.7 2.7 0 0 0-.6 1 4.3 4.3 0 0 0-.2 1.1c-.4 2.7.9 5.1 4.2 8.5s8.4 4.3 8.5 4.3a4.9 4.9 0 0 0 2.1-.8l.7-.7a1.3 1.3 0 0 0 0-1.8z')
				a(href=`tel:+1${phoneFormated}`, rel='nofollow', name=`Call R&S Supply Redding at ${phone}`)= `${phone}`


			li(itemscope='', itemtype='http://schema.org/faxNumber')
				span(itemprop='name', style='display: none;')= `R&S Supply ${city}`
				span(style='display: none;') Fax:
				span(itemprop='faxNumber')
					svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 31.73 31.73')
						path(d='M0 29.66h2.537V9.571H0V29.66zM28.549 9.571V.917H15.871v8.654H10.91v20.09h20.82V9.571h-3.181zm-8.926 15.908h-2.447v-2.446h2.447v2.446zm0-4.045h-2.447V18.99h2.447v2.444zm0-3.855h-2.447v-2.446h2.447v2.446zm4.516 7.9h-2.447v-2.446h2.447v2.446zm0-4.045h-2.447V18.99h2.447v2.444zm0-3.855h-2.447v-2.446h2.447v2.446zm4.513 7.9h-2.445v-2.446h2.445v2.446zm0-4.045h-2.445V18.99h2.445v2.444zm0-3.855h-2.445v-2.446h2.445v2.446zm1.506-4.574H14.26V10.84h1.611v1.082h12.678V10.84h1.609v2.165zM3.535 30.813h6.398V7.332H3.535v23.481zm23.33-27.486h-9.029V2.48h9.029v.847zm0 2.256h-9.029v-.844h9.029v.844z')
					a(href=`fax:+1${faxFormated}`, rel='nofollow', name=`Fax R&S Supply Redding at ${fax}`)= `${fax}`