extends _layouts/home
include ./_mixins/contactDetails.pug
block head_end
	link(rel="stylesheet" href="/css/style.css")

block content
	header.small-section.intro-hero
		.intro-section
			h2
				small R&S SUPPLY
				| Your Full Service Roofing
				br
				span &
				|  Building Materials Supplier


	section.intro-section.intro-section__bg
		.intro-section__content
			aside
				.our-info
					.our-info__wrap
						img(src='img/branding/40-years.png', alt='R&S Supply 40 Years Logo')
					h2
						| Over 40 Years of
						br
						| Experience
					p
						| Helping people find the
						br
						| best solutions.
			article
				h2.title Our Journey
				p
					| R & S Supply is a wholesale supplier of building supplies catering to the professional contractor. Started in 1977 by Alan Shufelberger the chain began with their first store in Redding, CA. In 1983, the first store in the chain was added in Sacramento, CA. With that addition, the name was changed to R&S Supply to recognize Redding and Sacramento. That name has been used for all the additional stores in the chain since then.
				p
					| In 1991 a store was added in Eureka, CA with the Grover Beach, CA location being added the following year in 1992. In 1995, two stores were added in Medford, OR and Reno, NV, bringing the total stores to five. In 1998 two additional stores were added in Boise, ID and Twin Falls, ID. Beginning in 2000 a new store was added each year, Castroville, CA – 2000, Fresno, CA – 2001, Billings, MT – 2002, Idaho Falls, ID – 2003, Missoula, MT – 2004, and Chico, CA in 2005. After a 5 Year hiatus from growth, R&S Supply added a new store in Bozeman, MT in 2010.
				p
					| When Malarkey Roofing Products built a new plant in Oklahoma City, R&S Supply opened stores in Oklahoma City and Tulsa, OK in 2012 to support their expansion efforts. In 2014 an additional store was added in Wichita Falls, TX to support this effort, as well as additional stores in Las Vegas, NV and Lake Havasu City, AZ in 2014 as well. 2016 brought 4 additional stores in Kingman & Flagstaff, AZ, Decatur, TX and Elko, NV. A location in Great Falls, MT was added in 2017 making it the newest store in the chain. Additional store openings are planned for 2018.
				p
					| Mr. Shufelberger and his team have grown their business with a focus on the fundamentals, and maintaining the principals that “Customer Service Still Matters”. The company focuses on supplying building materials to the professional contractor. The main area of focus for each store is the wholesale roofing supply. Most stores add other building materials into their mix such as drywall, stucco, cement products, lumber, etc. Most deliveries are made to the jobsite, but there is a small segment of “cash and carry” business in each store.
				p
					| With the constant consolidation in the roofing supply industry over the past 10 years, R&S Supply has remained focused on their core principals of “Customer Service Still Matters”, while their competitors focus on the Wal-Mart approach for the supply business. The company is wholly owned by Mr. Shufelberger, and the corporate headquarters are in Redding, California where Mr. Shufelberger resides.

	section.stores-section
		.container
			.stores-section__content.page-section
				.tabs-wrapper
					.tabs-nav-wrapper
						ul.tabs(data-tabgroup='first-tab-group')
							li.nav-li.active-nav
								a.tabs-nav-item.active(href='#tab1')
									span.city-full Arizona
									span.city-abrv AZ
							li.nav-li
								a.tabs-nav-item(href='#tab2')
									span.city-full California
									span.city-abrv CA
							li.nav-li
								a.tabs-nav-item(href='#tab3')
									span.city-full Idaho
									span.city-abrv ID
							li.nav-li
								a.tabs-nav-item(href='#tab4')
									span.city-full Montana
									span.city-abrv MT
							li.nav-li
								a.tabs-nav-item(href='#tab5')
									span.city-full Nevada
									span.city-abrv NV
							li.nav-li
								a.tabs-nav-item(href='#tab6')
									span.city-full Oklahoma
									span.city-abrv OK
							li.nav-li
								a.tabs-nav-item(href='#tab7')
									span.city-full Oregon
									span.city-abrv OR
							li.nav-li
								a.tabs-nav-item(href='#tab8')
									span.city-full Texas
									span.city-abrv TX
							li
								a.tabs-all-stores(href="/store-locations.html", title="title") View All Stores
						.tabs-nav-underline



					section#first-tab-group.tabgroup


						#tab1
							dl.accordion
								each category in stores
									if category.state == 'AZ'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab2
							dl.accordion
								each category in stores
									if category.state == 'CA'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab3
							dl.accordion
								each category in stores
									if category.state == 'ID'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab4
							dl.accordion
								each category in stores
									if category.state == 'MT'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab5
							dl.accordion
								each category in stores
									if category.state == 'NV'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab6
							dl.accordion
								each category in stores
									if category.state == 'OK'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab7
							dl.accordion
								each category in stores
									if category.state == 'OR'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)


						#tab8
							dl.accordion
								each category in stores
									if category.state == 'TX'
										dt
											a(href='')= category.city
										dd
											+contactDetails(`${category.city}`, `${category.street}`, `${category.state}`, `${category.zip}`, `${category.phone}`, `${category.phoneFormated}`, `${category.fax}`, `${category.faxFormated}`)




block body_end
	script(type="text/javascript" src="/js/home.js")